.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 15%;
}

img{ filter: grayscale(50%);
}

footer {
    text-align: center;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 15%;}

    table{
        border: 1px solid silver;
        }
    td:hover{
        background-color:yellow;
        color:black;
        }
        tr, th{
        background-color:black;
        color:cornsilk;
        }
        tr,td{
        background-color:darkgreen;
        color:white;
        }


  